
@font-face {
    font-family: Machina;
    src: url(../../../../../styles/fonts/FontsFree-Net-NeueMachina-Ultrabold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../../../../styles/fonts/Montserrat-Medium.ttf);
}

@media (max-width: 1400px) {
    .container {
        padding: 5%;
    }
    .star {
        bottom: 0px;
        right: 20px;
    }
}

@media (min-width: 1400px) {
    .star {
        bottom: 0px;
        right: 0px;
    }
}

.container {
    display: flex;
    margin-top: 16%;
    position: relative;
}

.title {
    font-family: Machina;
    font-size: 3.2vw;
    color: #FCF8F5;
    flex: 1 0 0;
    margin-bottom: 30%;
}

.featureCardsContainer {
    flex: 2 0 0;
    display: flex;
    margin-left: 24px;
    width: 100%;
}

.star {
    position: absolute;
    width: 12%;
}

