
@font-face {
    font-family: Machina;
    src: url(../../../../../styles/fonts/FontsFree-Net-NeueMachina-Ultrabold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../../../../styles/fonts/Montserrat-Medium.ttf);
}


.container {
    display: flex;
    margin-top: 200px;
    height: 640px;
    position: relative;
}

.title {
    font-family: Machina;
    font-size: 58px;
    color: #FCF8F5;
    flex: 1 0 0;
}

.featureCardsContainer {
    flex: 2 0 0;
    display: flex;
}

.star {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

