@font-face {
    font-family: Machina;
    src: url(../../../../../styles/fonts/FontsFree-Net-NeueMachina-Ultrabold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../../../../styles/fonts/Montserrat-Medium.ttf);
}


.container {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    height: 480px;
    width: 100%;
    background-color: black;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 36px;
    padding: 36px;
    color: #FCF8F5;
}

.testimonyImage {
    flex: 1 0 0;
}

.testimonyName {
    flex: 0;
    font-family: Machina;
    font-size: 24px;
    margin-bottom: 16px;
}

.testimony {
    flex: 0;
    font-family: Montserrat;
    font-size: 18px;
}