@font-face {
    font-family: Machina;
    src: url(../../styles/fonts/FontsFree-Net-NeueMachina-Ultrabold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../styles/fonts/Montserrat-Medium.ttf);
}

@media (min-width: 1400px) {
    .container {
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 3%;
        padding-bottom: 5%;
    }
}

@media (max-width: 1400px) {
    .container {
        padding: 5%;
    }
}

.container {
    background-color: black;
    display: flex;
    color: #FCF8F5;
}

.contact {
    flex-grow: 1;
    height: 100%;
}

.contactHeader {
    font-family: Machina;
    font-size: 2.8vw;
    margin-bottom: 4%;
}

.contactDetails {
    display: flex;
    margin-top: 'auto';
    flex-grow: 1;
    height: 100%;
    width: 64%;
}


.ContactEmailChannel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContactWhatsappChannel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4vw;
}

.ContactChannelDetails {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}

.ContactChannelHeader {
    font-family: Montserrat;
    font-size: 1.6vw;
}

.ContactChannelContent {
    font-family: Montserrat;
    font-size: 1.2vw;
}

.logos {
    display: flex;
    flex-direction: column;
}

.logos_row {
    display: flex;
    flex-direction: row-reverse;

}

.logos_row_item {
    height: 7.2vw;
    width: 7.2vw;
}

.whatsappIcon {
    height: 3.2vw;
    width: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emailIcon {
    height: 3.2vw;
    width: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoFooter {
    font-family: Montserrat;
    font-size: 1.2vw;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
