@font-face {
    font-family: Machina;
    src: url(../../styles/fonts/FontsFree-Net-NeueMachina-Ultrabold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../styles/fonts/Montserrat-Medium.ttf);
}

@media (min-width: 1400px) {
    .container {
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media (max-width: 1400px) {
    .container {
        padding: 5%;
    }
}

.container {
    background-color: black;
    display: flex;
    color: #FCF8F5;
}

.contact {
    flex-grow: 1;
    height: 100%;
}

.contactHeader {
    font-family: Machina;
    font-size: 4vw;
}

.contactDetails {
    display: flex;
    margin-top: 'auto';
    flex-grow: 1;
    height: 100%;
}

.ContactChannel {
    display: flex;
    align-items: center;
}

.ContactChannelDetails {
    margin-left: 16px;
    margin-right: 36px;
    display: flex;
    flex-direction: column;
}

.ContactChannelHeader {
    font-family: Montserrat;
    font-size: 2vw;
}

.ContactChannelContent {
    font-family: Montserrat;
    font-size: 1.2vw;
}

.whatsappIcon {
    width: 60%;
}

.emailIcon {
    width: 60%;
}