
@font-face {
    font-family: Machina;
    src: url(../../../../../styles/fonts/FontsFree-Net-NeueMachina-Ultrabold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../../../../styles/fonts/Montserrat-Medium.ttf);
}

@media (max-width: 1400px) {
    .testimonyContainer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.container {
    display: flex;
    margin-top: 4%;
    padding-bottom: 4%;
    position: relative;
    flex-direction: column;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Machina;
    font-size: 3.2vw;
    color: #FCF8F5;
}

.star {
    position: absolute;
    width: 12%;
    top: -20%;
    right: 0px;
}

.testimonyContainer {
    display: flex;
    
}